@model KutuphaneProgramı_EF.Models.Yayinevleri

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center text-white" style="background-color: red;border-radius: 30px;">Detay</h1>

<div>
    <h4>Yayin Evi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Adı
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adres)
        </dd>
        <dt class = "col-sm-2">
            Telefon
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tel)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-primary btn-sm" asp-action="Edit" asp-route-id="@Model.Id">Düzenle</a> |
    <a class="btn btn-outline-primary btn-sm" asp-action="Index">Listeye Geri Dön</a>
</div>
