@model IEnumerable<KutuphaneProgramı_EF.Models.Yayinevleri>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center text-white" style="background-color: red;border-radius: 30px;">Yayın Evleri</h1>

<p>
    <a class="btn btn-outline-primary btn-sm" asp-action="Create">Yeni Kayıt</a>
</p>
<table class="table table-sm table-success text-center">
    <thead class="text-danger">
        <tr class="text-center">
            <th>
                @Html.DisplayNameFor(model => model.Ad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="text-primary text-center">
            <td>
                @Html.DisplayFor(modelItem => item.Ad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tel)
            </td>
            <td>
                <a class="btn btn-outline-primary btn-sm" asp-action="Edit" asp-route-id="@item.Id">Düzenle</a> |
                <a class="btn btn-outline-primary btn-sm" asp-action="Details" asp-route-id="@item.Id">Detay</a> |
                <a class="btn btn-outline-primary btn-sm" asp-action="Delete" asp-route-id="@item.Id">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
