@model KutuphaneProgramı_EF.Models.Odunc

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center text-white" style="background-color: red;border-radius: 30px;">Detay</h1>

<div>
    <h4>Odunc İslemleri</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Uye Adı
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Uye.AdSoyad)
        </dd>
        <dt class="col-sm-2">
            Kitap Isbn
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KitaplarIsbnNavigation.Isbn)
        </dd>
        <dt class="col-sm-2">
            Veriliş Tarihi
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VerilisTarihi)
        </dd>
        <dt class="col-sm-2">
            Teslim Tarihi
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TeslimTarihi)
        </dd>
        <dt class="col-sm-2">
            Durum
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Iptal)

        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-primary btn-sm" asp-action="Edit" asp-route-id="@Model.Id">Düzenle</a> |
    <a class="btn btn-outline-primary btn-sm" asp-action="Index">Listeye Geri Dön</a>
</div>
