@model KutuphaneProgramı_EF.Models.Kitaplar

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center text-white" style="background-color: red;border-radius: 30px;">Sil</h1>

<h3>Bu kaydı silmek istediğinize emin misiniz?</h3>
<div>
    <h4>Kitap</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Adı
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ad)
        </dd>
        <dt class="col-sm-2">
            Sayfa Sayısı
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SayfaSayisi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stok)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stok)
        </dd>
        <dt class="col-sm-2">
            Tür
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Turler.TurAd)
        </dd>
        <dt class="col-sm-2">
            Yayin Evi
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.YayinEvleri.Ad)
        </dd>
        <dt class="col-sm-2">
            Yazar
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Yazarlar.AdSoyad)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Isbn" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a class="btn btn-outline-primary btn-sm" asp-action="Index">Listeye Geri Dön</a>
    </form>
</div>
